@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: black;
}

.gameDiv{
    opacity: 0;
}

.gameDiv:hover{
    background-image: linear-gradient(to top, rgb(224, 183, 106), rgba(255, 94, 0, 0.89));
}

.gameTable{
    margin: 0 auto;
}

h1{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 30px;
    font-size: 60px;
}

.gameInps{
    height: 100px;
    width: 100px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 35px;
    background-color: black;
    color: orange;
    border-radius: 12px;
    border-style: none;
}

button{
    height: 80px;
    width: 315px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
    font-size: 30px;

    background-color: black;
    color: white;
    border-radius: 12px;
    border-style: none;
}
